.leitos-container {
    padding: 0px;
}

.leitoNumero {
    width: 60px;
}

.leitoSala {
    width: 60px;
}

.leitoStatus {
    width: 100px;
}

.leitoPaciente {
    width: 150px;
    min-height: 30px;
}

.leitoData {
    width: 75px;
    min-height: 30px;
}

.leitoReserva {
    width: 25px;
}

.leitoEditar {
    width: 75px;
}



